.card{
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #6F6F6D;
  padding: 45px 0;
  border-radius: 17px;
  .texts{
    margin-left: 40px;
    h1{
      font-size: 40px;
      font-family: 'SF Pro Semibold';
      margin: 0;
      color: #ECD6D9;
    }
    p{
      width: 250px;
      font-size: 18px;
      margin: 0;
      margin-top: 10px;
      color: #6F6F6D;
      font-family: 'SF Pro Medium';
      font-weight: 500px;
    }
  }
  .images{
    margin-left: 23px;
    display: flex;
    align-items: center;
    gap: 40px;
    img{
      border-radius: 9px;
    }
  }
  .end{
    margin-left: 100px;
    h3{
      color: white;
      font-family: 'SF Pro Regular';
      font-style: 500;
      font-size: 26px;
      margin: 0;
      img{
        margin-left: 6px;
      }
    }
    p{
      font-size: 18px;
      margin: 0;
      margin-top: 34px;
      font-family: 'SF Pro Medium';
      font-weight: 500;
      color: #6F6F6D;
    }
  }
}