.banner{
  .title{
    padding: 0 40px;
    p{
      font-size: 18px;
      letter-spacing: -0.18px;
      color: #C2E6E9;
      margin: 0;
      font-family: 'SF Pro Regular';
    }
    h1{
      margin: 0;
      margin-top: 4px;
      font-size: 65px;
      font-family: 'SF Pro Medium';
      color: white;
    }
  }
}